#footer{
    background-color: $primary;
    color: $black;
    &  :first-child, :last-child{
        flex-direction: column;
        @media screen and (min-width: $break-laptop) {
            flex-direction: row;
        } 
    }
    a{
        color: #252525;
        text-decoration: none;
        transition: $transition-fast;
        &:hover{
            color: $black;
        }
    }
    ul{
        padding-left: 0;
        li{
            list-style-type: none;
            a{
                color: $black;
                text-decoration: none;
            }
        }
    }
    .info{
        text-align: start;
        margin-top: 2rem;
        @media screen and (min-width: $break-tablet) {
            text-align: end;
            margin-top: 0;
        } 
        a{
            color: #252525;
            text-decoration: none;
            transition: $transition-fast;
            &:hover{
                color: $black;
            }
        }
    }
    .socials{
        text-align: start;
        margin-top: 2rem;
        @media screen and (min-width: $break-tablet) {
            text-align: end;
            margin-top: 0;
        }
    }
    
}