* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font;
  color: $black;
  font-weight: $regular;
  font-size: 1.25rem;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  background-color: $primary;
  overflow-x: hidden;
  &.no-scroll{
    overflow: hidden;
  }
}

h1{
  font-size: 1.875rem;
  line-height: 3.5rem;
  font-weight: $bold;
  @media screen and (min-width: $break-tablet) {
    font-size: 3.75rem;
    line-height: 4.5rem;
    font-weight: $bold;
  }
}
h2{
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: bold;
}

// =========================
// ========= GDPR ==========
// =========================
.cky-notice-btn-wrapper, .cky-prefrence-btn-wrapper{
  .cky-btn.cky-btn-accepx{
    border-color: $accent !important;
    background-color: $accent !important;
    color: $black !important;
  }
}
.cky-btn-revisit-wrapper{
  background: $accent !important;
}

// =========================
// ========= wrap ==========
// =========================

.wrap{
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  @media screen and (min-width: $break-phone) {
    width: 85%;
  }
}
.wrap-small {
  width: 90%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: $break-phone) {
    width: 50%;
  }
}

// =========================
// ======= Buttons =========
// =========================

.button{
  padding-left: 1.25rem;
  padding-block: 0.75rem;
  padding-right: 1.25rem;
  font-size: 1.25rem;
  position: relative;
  border-width: 1px;
  border-style: solid;
  transition: $transition-fast;
  text-decoration: none;
  &-primary{
    background-color: $accent;
    border-color: $accent;
    color: $white;
    &.arrowed{
      padding-right: 3.25rem;
      &::after{
        content: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289L19.7071 11.2929C19.8946 11.4804 20 11.7348 20 12C20 12.2652 19.8946 12.5196 19.7071 12.7071L13.7071 18.7071C13.3166 19.0976 12.6834 19.0976 12.2929 18.7071C11.9024 18.3166 11.9024 17.6834 12.2929 17.2929L16.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L16.5858 11L12.2929 6.70711C11.9024 6.31658 11.9024 5.68342 12.2929 5.29289Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
        width: 1rem;
        height: 14px;
        position: absolute;
        top: 0.75rem;
        right: 1.25rem;
        transition: $transition-fast;
      }
    }
    &.outlined{
      color: $accent;
      background-color: transparent;
      &.arrowed{
        &::after{
          content: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289L19.7071 11.2929C19.8946 11.4804 20 11.7348 20 12C20 12.2652 19.8946 12.5196 19.7071 12.7071L13.7071 18.7071C13.3166 19.0976 12.6834 19.0976 12.2929 18.7071C11.9024 18.3166 11.9024 17.6834 12.2929 17.2929L16.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L16.5858 11L12.2929 6.70711C11.9024 6.31658 11.9024 5.68342 12.2929 5.29289Z' fill='%234189e6'%3E%3C/path%3E%3C/svg%3E");
        }
        &:hover{
          &::after{
            content: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289L19.7071 11.2929C19.8946 11.4804 20 11.7348 20 12C20 12.2652 19.8946 12.5196 19.7071 12.7071L13.7071 18.7071C13.3166 19.0976 12.6834 19.0976 12.2929 18.7071C11.9024 18.3166 11.9024 17.6834 12.2929 17.2929L16.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L16.5858 11L12.2929 6.70711C11.9024 6.31658 11.9024 5.68342 12.2929 5.29289Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
      &:hover{
        background-color: $accent;
        color: $white;
      }
    }
  }
  &-secondary{
    background-color: $primary;
    border-color: $primary;
    color: $black;
    &.arrowed{
      padding-right: 3.25rem;
      &::after{
        content: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289L19.7071 11.2929C19.8946 11.4804 20 11.7348 20 12C20 12.2652 19.8946 12.5196 19.7071 12.7071L13.7071 18.7071C13.3166 19.0976 12.6834 19.0976 12.2929 18.7071C11.9024 18.3166 11.9024 17.6834 12.2929 17.2929L16.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L16.5858 11L12.2929 6.70711C11.9024 6.31658 11.9024 5.68342 12.2929 5.29289Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
        width: 1rem;
        height: 14px;
        position: absolute;
        top: 0.75rem;
        right: 1.25rem;
        transition: $transition-fast;
      }
    }
    &.outlined{
      background-color: transparent;
    }
  }
  &:hover{
    &::after{
      right: 0.75rem;
    }
  }
  

}


// =========================
// ======= Keyframes =======
// =========================


// =========================
// ======== global =========
// =========================

//background

.bg-contain{
  background-size: contain;
}

.bg-cover{
  background-size: cover;
}

.bg-norepeat{
  background-repeat: no-repeat;
}

.bg-p-tl{
  background-position: top left;
}
.bg-p-tc{
  background-position: top center;
}
.bg-p-tr{
  background-position: top right;
}
.bg-p-cl{
  background-position: center left;
}
.bg-p-c{
  background-position: center;
}
.bg-p-cr{
  background-position: center right;
}
.bg-p-bl{
  background-position: bottom left;
}
.bg-p-bc{
  background-position: bottom center;
}
.bg-p-br{
  background-position: bottom right;
}

//image
.aspect-ratio{
  aspect-ratio: 16/9;
}

.object-cover{
  object-fit: cover;
}
.object-contain{
  object-fit: contain;
}
//container
.container{
  width: 100%;
  @media screen and (min-width: $break-phone) {
    max-width: 640px;
  }
  @media screen and (min-width: $break-tablet) {
    max-width: 768px;
  }
  @media screen and (min-width: $break-tablet-land) {
    max-width: 1024px;
  }
  @media screen and (min-width: $break-laptop) {
    max-width: 1280px;
  }
}
//font style
.fw-b{
  font-weight: $bold;
}

//text align
.text-center {
  text-align: center;
  &.ko-mobile{
    @media all and (max-width: $break-phone) {
      text-align: center;
    }
  }
  @media all and (max-width: $break-phone) {
    text-align: start;
  }
}
.text-left {
  text-align: start;
}
.text-right {
  text-align: end;
  .ko-mobile{
    @media all and (max-width: $break-phone) {
      text-align: end;
    }
  }
  @media all and (max-width: $break-phone) {
    text-align: start;
  }
}
//displays
.inline-block{
  display: inline-block;
}
.hidden{
  display: none;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      display: none;  
    }
  }
}
.block{
  display: block;
}
.grid{
  display: grid;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      display: grid;  
    }
  }
}
.flex{
  display: flex;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      display: flex;  
    }
  }
  &-1{
    flex: 1 1 0%;
  }
}
//flex+grid positions
.flex-wrap{
  flex-wrap: wrap;
}
.align-top{
  align-items: start;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      align-items: start;
    }
  }
}
.align-center{
  align-items: center;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      align-items: center;
    }
  }
}
.align-bottom{
  align-items: end;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      align-items: end;
    }
  }
}
.space-between{
  justify-content: space-between;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      justify-content: space-between;
    }
  }
}
.justify-left{
  justify-content: start;
}
.justify-center{
  justify-content: center;
}
.justify-right{
  justify-content: end;
}
.no-gap{
  gap: 0;
}
.no-wrap{
  flex-wrap: nowrap;
}
.flex-d-col{
  flex-direction: column;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      flex-direction: column;
    }
  }
}
.flex-d-col-r{
  flex-direction: column-reverse;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      flex-direction: column-reverse;
    }
  }
}
.flex-d-row{
  flex-direction: row;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      flex-direction: row;
    }
  }
}
.flex-d-row-r{
  flex-direction: row-reverse;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      flex-direction: row-reverse;
    }
  }
}

//positions
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

//other
.pointer{
  cursor: pointer;
}

// =========================
// ======== Colors =========
// =========================

.text-black{
  color: $black;
}
.text-white{
  color: $white;
}
.text-blue{
  color: $accent;
}
.text-creme{
  color: $primary;
}

// =========================
// ======= Bgolors =========
// =========================

.bg-dark{
  background-color: $black;
}
.bg-light{
  background-color: $white;
}
.bg-blue{
  background-color: $accent;
}
.bg-creme{
  background-color: $primary;
}
.bg-transparent{
  background-color: transparent;
}

// =========================
// =margin & padding & gap==
// =========================

.mx-auto{
  margin-inline: auto;
}
.my-auto{
  margin-block: auto;
}

.h-full{
  height: 100vh;
}
.h-70{
  height: 70vh;
}
.w-full{
  width: 100%;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      width: 100%;
    }
  }
}

.max-w-80{
  max-width: 80rem;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      max-width: 80rem;
    }
  }
}

.w-auto{
  width: auto;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      width: auto;
    }
  }
}

.w-1\/4{
  width: 25%;
  &-lg{
    @media screen and (min-width: $break-tablet-land) {
      width: 25%;
    }
  }
}
.w-1\/3{
  width: 33.33%;
  &-lg{
      @media screen and (min-width: $break-tablet-land) {
        width: 33.33%;
      }
    }
}
.w-1\/2{
  width: 50%;
  &-lg{
      @media screen and (min-width: $break-tablet-land) {
        width: 50%;
      }
    }
}
.w-2\/3{
  width: 66.66%;
  &-lg{
      @media screen and (min-width: $break-tablet-land) {
        width: 66.66%;
      }
    }
}
.w-3\/4{
  width: 75%;
  &-lg{
      @media screen and (min-width: $break-tablet-land) {
        width: 75%;
      }
    }
}

$sizes:
  "0" "0" 0px,
  "1" "12px" 0.75rem,
  "2" "16px" 1rem,
  "3" "20px" 1.25rem,
  "4" "24px" 1.5rem,
  "5" "30px" 1.875rem,
  "6" "36px" 2.25rem,
  "7" "40px" 2.5rem,
  "8" "48px" 3rem,
  "9" "60px" 3.75rem,
  "10" "64px" 4rem,
  "11" "72px" 4.5rem,
  "12" "96px" 6rem;

@each $name, $px, $size in $sizes {
  /*! #{$px} */
  .mt-#{$name} {
    margin-top: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        margin-top: $size;
      }
    }
  }
  /*! #{$px} */
  .mb-#{$name} {
    margin-bottom: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        margin-bottom: $size;
      }
    }
  }
  /*! #{$px} */
  .ml-#{$name} {
    margin-left: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        margin-left: $size;
      }
    }
  }
  /*! #{$px} */
  .mr-#{$name} {
    margin-right: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        margin-right: $size;
      }
    }
  }
  /*! #{$px} */
  .mx-#{$name} {
    margin-inline: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        margin-inline: $size;
      }
    }
  }
  /*! #{$px} */
  .my-#{$name} {
    margin-block: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        margin-block: $size;
      }
    }
  }
  /*! #{$px} */
  .pt-#{$name} {
    padding-top: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        padding-top: $size;
      }
    }
  }
  /*! #{$px} */
  .pb-#{$name} {
    padding-bottom: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        padding-bottom: $size;
      }
    }
  }
  /*! #{$px} */
  .pl-#{$name} {
    padding-left: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        padding-left: $size;
      }
    }
  }
  /*! #{$px} */
  .pr-#{$name} {
    padding-right: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        padding-right: $size;
      }
    }
  }
  /*! #{$px} */
  .px-#{$name} {
    padding-inline: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        padding-inline: $size;
      }
    }
  }
  /*! #{$px} */
  .py-#{$name} {
    padding-block: $size;
    &-lg{
      @media screen and (min-width: $break-tablet-land) {
        padding-block: $size;
      }
    }
  }
  /*! #{$px} */
  .fs-#{$name} {
    font-size: $size;
  }
  /*! #{$px} */
  .gap-#{$name} {
    gap: $size;
  }
  /*! #{$px} */
  .h-#{$name} {
    height: $size;
  }
  /*! #{$px} */
  .w-#{$name} {
    width: $size;
  }
  .mx-10-lg{
    margin-inline: 1.5rem;
    @media screen and (min-width: $break-tablet-land) {
      margin-inline: 4rem;
    }
  }
  .px-10-lg{
    padding-inline: 1.5rem;
    @media screen and (min-width: $break-tablet-land) {
      padding-inline: 4rem;
    }
  }
}