header {
  height: 5rem;
  top: 0;
  z-index: 9999;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  align-content: space-between;
  flex-direction: inherit;
  @media screen and (min-width: $break-tablet-land) {
    padding-inline: 4rem;
    padding-block: 0rem;
    flex-direction: row;
  }  

  .logo{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: $logo-font;
    text-transform: capitalize;
    color: $black;
    text-decoration: none;
    &-cont{
      width: 100%;
      height: calc(80px - 1rem);
      @media screen and (min-width: $break-tablet-land) {
        width: auto;
      } 
    }
  }
  #primary-menu{
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: $primary;
    transition: $transition-fast;
    @media screen and (min-width: $break-tablet-land) {
      width: auto;
      position: unset;
      top: unset;
      left: unset;
    }
    .hidden{
      top: -100rem;
    }
  }
  .menu-primary-container{
    ul{
      align-items: center;
      justify-content: space-between;
      font-size: 1.25rem;
      color: $black;
      padding-top: 1rem;
      @media screen and (min-width: $break-tablet-land) {
        padding-top: 0rem;
        display: flex;
      }
      li {
        list-style-type: none;
        transition: $transition-fast;
        a{
          padding-block: 1rem;
          padding-inline: 0rem;
          text-decoration: 0;
          color: $black;
          display: block;
          :last-of-type{
            margin-bottom: 0.5rem;
          }
          @media screen and (min-width: $break-tablet-land) {
            padding: 1.25rem;
          }
        }
        &:hover {
          .sub-menu{
            visibility: visible;
            opacity: 1;
            position: relative;
            @media screen and (min-width: $break-tablet-land) {
              position: absolute;
            }
          }
        }
        .sub-menu{
          display: flex;
          position: absolute;
          width: 100%;
          background-color: $primary;
          left: 0;
          padding-left: 0;
          opacity: 0;
          transition: $transition-fast;
          flex-direction: column;
          visibility: hidden;
          @media screen and (min-width: $break-tablet-land) {
            flex-direction: row;
          }
          li{
            width: 100%;
            text-align: left;
            @media screen and (min-width: $break-tablet-land) {
              width: 25%;
              text-align: center;
            }
            a{
              transition: $transition-fast;
              padding-block: 1.5rem;
              @media screen and (min-width: $break-tablet-land) {
                padding-block: 4rem;
              }
              &:hover{
                background-color: white;
              }
            }
          }
        }
      }
      
    }
  }
  }
