#home-slider{
    .container{
        padding-inline: 1.5rem;
        max-width: 42rem;
        @media screen and (min-width: $break-tablet-land) {
            padding-inline: 4rem;
          } 
    }
}