.text-w-image{
    img{
        object-fit: cover;
        width: 100%;
        height: 18rem;
        @media screen and (min-width: $break-tablet-land) {
            margin-inline: 1.5rem;
            width: 50%;
            height: 100%;
        }
    }
    .twi-content{
        margin-top: 1.5rem;
        @media screen and (min-width: $break-tablet-land) {
            margin-top: 0;
        }
        h2{
            display: block;  
        }
        p{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
    }
}