$break-phone: 640px;
$break-tablet: 768px;
$break-tablet-land: 1024px;
$break-laptop: 1280px;

// ======================
$transition-slow: all 600ms ease;
$transition-fast: all 300ms ease;
$letter-space: 0;
$deg: 180deg;

// FONTS =================

@font-face {
    font-family: "PoorRichard";
    src: url("../fonts/PoorRichard.ttf");
    src: url("../fonts/PoorRichard.woff") format("woff"),
    url("../fonts/PoorRichard.woff2") format("woff2")
    }

$primary-font: "Roboto", sans-serif;
$logo-font: 'PoorRichard', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: bold;

// COLORS==================
$black: hsl(0, 0%, 8%);
$white: hsl(0, 0%, 100%);
$primary: #f6f1ea;
$accent: #4189e6;
