$break-phone: 640px;
$break-tablet: 768px;
$break-tablet-land: 1024px;
$break-laptop: 1280px;

// ======================
$transition-slow: all 600ms ease;
$transition-fast: all 300ms ease;
$letter-space: 0;
$deg: 180deg;

// FONTS =================
$primary-font: "Roboto", sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: bold;

// COLORS==================
$black: hsl(0, 0%, 8%);
$white: hsl(0, 0%, 100%);
$primary: hsl(35, 40%, 94%);
$accent: hsl(214, 77%, 58%);
